ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border-radius: 10px;
}

li {
    float: left;
    width: 33%;
    background-color:#83cfcf;
    border-radius: 100px;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    border-radius: 100px;
    text-decoration: none;
}  
li a:hover {
    background-color: #797979;
} 
