.header {
    display: block;
    color: aliceblue;
    margin: auto;
    font-size: 4vw;
}
.header::after{
    font-size: 10vw;
    color:antiquewhite;
    content:By Brian;
}
.header::after{
    font-size: 0.8vw;
    content: "Click the title to go to the sources page.";
    padding-bottom: 100px;
    color:#dae2e9;
}

body {
    background-color: grey;
}

.column {
    display: block;
    float:left;
    padding: 15px;
    padding-bottom: 80px;
    width:31.26%;
    border: 1px solid rgb(240, 240, 240);
    margin: 0px 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
    width: 100%;
    }
}

.column1 {
    border-radius: 0px 50px 50px 0px;
}

.column2 {
    border-radius: 0px 50px 0px 50px;
}

.column3 {
    border-radius: 50px 0px 0px 50px;
}

img:hover {
    background-color: aqua;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1d1d1d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}






.custom-shape-divider-top-1647484682 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1647484682 svg {
    position: relative;
    display: block;
    width: calc(141% + 1.3px);
    height: 376px;
}

.custom-shape-divider-top-1647484682 .shape-fill {
    fill: #0B0841;
}

.custom-shape-divider-bottom-1647484836 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1647484836 svg {
    position: relative;
    display: block;
    width: calc(141% + 1.3px);
    height: 235px;
    transform: rotateY(180deg);
}